* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: black;
  }
  
img{
    width: 100%;
    display: block;
}

  header {
    background-color: pink;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .header-container {
    padding: 1.5rem 0;
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
  }
  
  li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
  }

  li:hover{
    colour: red
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  







/*any styles in these curly brackets will only take place after the screen is a minimum of 700px wide*/

  @media(min-width: 700px){
    .header-container {
        color: red;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
  }